{% extends 'base.html' %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|safe }}</p><hr>

    Автор: {{ post.user }} <hr>

    <h4>Комментарии</h4>
     {% for comment in comments %}
        Пользователь - {{ comment.user }}<br>
        {{ comment.text }} <br>
        Добавлен - {{ comment.created }}<br><br>
     {% endfor %}
    {% if user.is_active %}
        <form action="{% url 'blog_post' post.id %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отправить</button>
        </form>
    {% else %}
        <h4>Что бы оставить комментарий авторизуйтесь</h4>
    {% endif %}
{% endblock content %}